.footer__wrapper
  section.work
    .container
      .work__wrapper
        .work__text-wrapper
          h2.work__header Intersted to woek with our team?
          p.work__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        a.work__button(href="#") Let’s Talk
  section.contacts
    .container
      ul.contacts__list
        li.contacts__item.contacts__item--logo
          ul.contacts__contact
            li.contacts__contact-item.contacts__contact-item--logo
              svg.contacts__footer-svg(width="48" height="48")
                use(xlink:href="#footer-logo")
              span.contacts__footer-name Afrianska
            li.contacts__contact-item
              .contacts__wrapper
                span A.
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li.contacts__contact-item
              .contacts__wrapper
                span T.
                a(href="tel:+6281273134321") +62-812-7313-4321
            li.contacts__contact-item
              .contacts__wrapper
                span E.
                a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
        li.contacts__item.contacts__item--about
          ul.contacts__about
            li.contacts__about-item.contacts__about-item--header About US
            li.contacts__about-item
              a(href="#") About
            li.contacts__about-item
              a(href="#") What We Do
            li.contacts__about-item
              a(href="#") Project
            li.contacts__about-item
              a(href="contactUs.html") How It Work With Us
        li.contacts__item.contacts__item--follow
          ul.contacts__follow
            li.contacts__follow-item.contacts__about-item--header Follow US
            li.contacts__follow-item
              a(href="#") Instagram
            li.contacts__follow-item
              a(href="#") Facebook
            li.contacts__follow-item
              a(href="#") LinkedIn
            li.contacts__follow-item
              a(href="#") Youtube
      span.contacts__copyright 2019 © Afrianska. All rights reserved.