.container
  .header__wrapper
    a.header__logo(href="index.html")
      svg(width="48" height="48")
        use(xlink:href="#logo")
      span.visually-hidden logo
    button.header__burger(type="button")
      svg(width="24" height="16")
        use(xlink:href="#burger")